<!DOCTYPE HTML>
<html>
	<head>
		<title>淺月物語</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" type="image/x-icon" href="qian-yue/images/icon.png">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<link 
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="app">
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>淺月物語</h1>
								<p>emm <a href="https://qian-yue.tk">nothing now</a> LOL<br />
								nothing <a href="https://qian-yue.tk">點這裡</a> www.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li v-for="item in data">
									<a :href="`#`+item.id">{{ item.name }}</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
							<article v-for="item in data" :id="item.id">
								<h2 class="major">{{ item.name }}</h2>
								<span class="image main">
									<img :src="item.img" alt="" />
								</span>
								<div v-html="item.content"></div>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright"> {{ copyright.f_text }} <a :href="copyright.url">{{copyright.url_text}}</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>
		</div>
			<script>
				const App = {
					data(){
						return{
							data: [
								{
									name: '關於',
									id: 'about',
									img: 'images/pic01.jpg',
									content: `
									<p>懶得打字 <a href="#">nothing</a>.</p>
									<p>懶懶懶懶懶</p>
									`
								},
								{
									name: '連線位置',
									id: 'ip',
									img: 'images/pic02.jpg',
									content: `
									<p>伺服器目前為測試階段,尚未開放.</p>
									<p>開幕後很好玩w.</p>
									`
								},
								{
									name: '暫無',
									id: 'none',
									img: 'images/pic03.jpg',
									content: `
									<p>就說暫無了咩.....</p>
									`
								}
							],
							copyright: {
								f_text: '&copy; 淺月物語. 2022 — ALL RIGHTS RESERVED. 網站管理:',
								url_text: 'yyw#9261',
								url: 'https://www.youtube.com/channel/UCVssTv4Cyd_DdO-mFyKaDlg'

							}
						};
					},
					methods:{

					},
					created(){

					}
				};
				Vue.createApp(App).mount('#app');
			</script>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
