<!DOCTYPE HTML>
<html>
	<head>
		<title>淺月物語</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" type="image/x-icon" href="qian-yue/images/icon.png">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<link 
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="app">
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>{{ header.title }}</h1>
								<div v-html="header.content"></div>
							</div>
						</div>
						<nav>
							<ul>
								<li v-for="item in data">
									<a :href="`#`+item.id">{{ item.name }}</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
							<article v-for="item in data" :id="item.id">
								<h2 class="major">{{ item.name }}</h2>
								<span class="image main">
									<img :src="item.img" alt="" />
								</span>
								<div v-html="item.content"></div>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright"> {{ copyright.f_text }} <a :href="copyright.url">{{copyright.url_text}}</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/index.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
